@{
    ViewData["Title"] = "Home Page";
}

<body class="container-login">
    <div class="logged_in_nav">
            <div class="flex space-between width-100vw">
                <div><p>.NET Directory Sync Example App</p></div>
                <div class="flex">
                    <div>
                        <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                            Reference</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/blog" target="_blank"><button
                            class='button nav-item blog-nav-button'>Blog</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/" target="_blank">
                            <img class="nav-image" src="~/images/workos_favicon.png" alt="link to workos.com">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='flex_column  height-70vh'>
            <div class="flex width-70vw space-between">
                <div>
                    <h2>Select a Directory</h2>
                </div>
                <div>
                    <a href="/webhooks" class="button button-outline">Test Webhooks</a>
                </div>
            </div>
            <div class='flex_column card width-65vw'>
                <div>
                    <table class="width-65vw">
                        <tr>
                        <th>Organization</th>
                        <th>ID</th>
                        <th>View Settings</th>
                        </tr>
                        @foreach (var directory in ViewData["directoryList"] as List<Directory>)
                        {
                        <tr>
                            <td>@directory.Name</td>
                            <td>@directory.Id</td>
                            <td><a class="button button-outline" href='@string.Format("/directory/{0}", directory.Id)'><i icon-name="settings-2" class="stroke_width=1"></i></a></td>
                        </tr>
                        }
                    </table>
                </div>
                <div class="flex flex-end width-65vw">
                    @if (ViewData["after"] != null)
                    {
                        <div>
                            <a href='@string.Format("/{0}/{1}", ViewData["after"], "after")'><button class="button page-title">Previous</button></a>
                        </div>
                    }
                    @if (ViewData["before"] != null)
                    {
                        <div>
                            <a href='@string.Format("/{0}/{1}", ViewData["before"], "before")'><button class="button page-title">Next</button></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
</body>
